{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<h2>Add a new Residency</h2>
<form method="post" action="">
    {% csrf_token %}
    {{form.management_form}}
    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% for field in form %}
        {% if "HEADER" in field.label  %}
            <hr>
            <h2>{{ field.help_text }}</h2>
        {% else %}
            <div id="{{ field.auto_id }}_container">
                <div>
                    {{ field.help_text }}
                    {% if 'check' in field.name %}
                        <!-- check the field, to put lable: checkbox: and field on same line -->
                        {{ field.label_tag }} 
                    {% endif %}
                    <br>
                    {{ field }}
                </div>
                <div id="{{ field.auto_id }}_errors">
                    {{ field.errors }}
                </div>
            </div>
        {% endif %}


    {% endfor %}
    <input id="save_residency" type="submit" value="Save" />
</form>


{% endblock %}
