<label class="control-label">Name:</label>
{{ org.name }}<br>

<label class="control-label">Website:</label>
{{ org.website }}<br>

<label class="control-label">Street Address:</label>
{{ org.street_address }}<br>

<label class="control-label">City:</label>
{{ org.city }} 

<label class="control-label">State:</label>
{{ org.state}} 

<label class="control-label">Postal Code:</label>
{{ org.postal_code}}<br>

<label class="control-label">Country:</label>
{{ org.country}}<br>

<label class="control-label">Contact email:</label>
{{ org.email}} 

<label class="control-label">Contact phone:</label>
{{ org.phone}}<br>

<label class="control-label">About our organization:</label>
{{ org.about }}
