{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<label class="control-label">Name:</label>
{{ page.organization.name }}<br>

<label class="control-label">Website:</label>
{{ page.organization.website }}<br>

<label class="control-label">Street Address:</label>
{{ page.organization.street_address }}<br>

<label class="control-label">City:</label>
{{ page.organization.city }} 

<label class="control-label">State:</label>
{{ page.organization.state}} 

<label class="control-label">Postal Code:</label>
{{ page.organization.postal_code}}<br>

<label class="control-label">Country:</label>
{{ page.organization.country}}<br>

<label class="control-label">Contact email:</label>
{{ page.organization.email}} 

<label class="control-label">Contact phone:</label>
{{ page.organization.phone}}<br>

<label class="control-label">About our organization:</label>
{{ page.organization.about }}


<hr>
{% if not request.user.is_authenticated %}
{% include "accounts/includes/user_panel.html" %}
to add a residency opportunity
{% endif %}

{% if request.user.is_authenticated %}
<a href="">Add a residency opportunity!</a>
{% endif %}

<hr>
<h2>Our residency opportunities</h2>
{% for res in reslist %}
    {{res.title}}<Br>
{% endfor %}

{% endblock %}
