{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<h2>About the residency</h2>

<label class="control-label">About the Residency:</label>
{{ page.residency.about }}<br>

<label class="control-label">Application Instructions:</label>
{{ page.residency.application_instructions }}<br>

<h2>What we offer</h2>
<label class="control-label">Application Instructions:</label>
{{ page.residency.application_instructions }}<br>

<label class="control-label">Travel Expenses:</label>
<input type="checkbox" value="{{ page.residency.offer_travel_check}}">
{{ page.residency.offer_travel_detail}}
<br>

<label class="control-label">Housing:</label>
<input type="checkbox" value="{{ page.residency.offer_housing_check}}">
{{ page.residency.offer_housing_detail}}
<br>

<label class="control-label">Food:</label>
<input type="checkbox" value="{{ page.residency.offer_food_check}}">
{{ page.residency.offer_food_detail}}
<br>

<label class="control-label">Stipend:</label>
<input type="checkbox" value="{{ page.residency.offer_stipend_check}}">
{{ page.residency.offer_stipend_detail}}
<br>

<label class="control-label">Studio:</label>
<input type="checkbox" value="{{ page.residency.offer_studio_check}}">
{{ page.residency.offer_studio_detail}}
<br>

<label class="control-label">Tools:</label>
<input type="checkbox" value="{{ page.residency.offer_tools_check}}">
{{ page.residency.offer_tools_detail}}
<br>

<label class="control-label">Additional offer details:</label>
{{ page.residency.offer_additional_details}}

<h2>What we require</h2>


<label class="control-label">Required language(s):</label>
{{ page.residency.require_languge}}<br>

(date requirements)<br>

<label class="control-label">Mentoring:</label>
<input type="checkbox" value="{{ page.residency.require_mentoring_check}}">
{{ page.residency.require_mentoring_detail}}
<br>
<label class="control-label">Talk:</label>
<input type="checkbox" value="{{ page.residency.require_talk_check}}">
{{ page.residency.require_talk_detail}}
<br>

<label class="control-label">Workshop:</label>
<input type="checkbox" value="{{ page.residency.require_workshop_check}}">
{{ page.residency.require_workshop_detail}}
<br>


<label class="control-label">Presentation:</label>
<input type="checkbox" value="{{ page.residency.require_presentation_check}}">
{{ page.residency.require_presentation_detail}}
<br>


<label class="control-label">Class:</label>
<input type="checkbox" value="{{ page.residency.require_class_check}}">
{{ page.residency.require_class_detail}}
<br>

<label class="control-label">Hackathon:</label>
<input type="checkbox" value="{{ page.residency.require_hackathon_check}}">
{{ page.residency.require_hackathon_detail}}
<br>

<hr>
{% if not request.user.is_authenticated %}
{% include "accounts/includes/user_panel.html" %}
{% endif %}

{% if request.user.is_authenticated %}
{% endif %}


{% endblock %}
