{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{% load extras %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
<h2>About the residency</h2>

<label class="control-label">About the Residency:</label>
{{ page.residency.about }}<br>

<label class="control-label">Application Instructions:</label>
{{ page.residency.application_instructions }}<br>

<h2>What we offer</h2>
<label class="control-label">Application Instructions:</label>
{{ page.residency.application_instructions }}<br>

{% check_magic "Travel Expenses:" page.residency.offer_travel_check page.residency.offer_travel_detail  %}
{% check_magic "Housing:" page.residency.offer_housing_check page.residency.offer_housing_detail  %}
{% check_magic "Food:" page.residency.offer_food_check       page.residency.offer_food_detail  %}
{% check_magic "Stipend:" page.residency.offer_stipend_check page.residency.offer_stipend_detail  %}
{% check_magic "Studio:" page.residency.offer_studio_check page.residency.offer_studio_detail  %}
{% check_magic "Tools:" page.residency.offer_tools_check page.residency.offer_tools_detail  %}


<label class="control-label">Additional offer details:</label>
{{ page.residency.offer_additional_details}}

<h2>What we require</h2>


<label class="control-label">Required language(s):</label>
{{ page.residency.require_languge}}<br>

(date requirements)<br>

{% check_magic "Mentoring:" page.residency.offer_mentoring_check page.residency.offer_mentoring_detail  %}
{% check_magic "Talk:" page.residency.offer_talk_check page.residency.offer_talk_detail  %}
{% check_magic "Workshop:" page.residency.offer_workshop_check page.residency.offer_workshop_detail  %}
{% check_magic "Presentation:" page.residency.offer_presentation_check page.residency.offer_presentation_detail  %}
{% check_magic "Class:" page.residency.offer_class_check page.residency.offer_class_detail  %}
{% check_magic "Hackathon:" page.residency.offer_hackathon_check page.residency.offer_hackathon_detail  %}

<hr>
{% if not request.user.is_authenticated %}
{% include "accounts/includes/user_panel.html" %}
{% endif %}

{% if request.user.is_authenticated %}
{% endif %}


{% endblock %}
